/* здесь используйте глобальные селекторы img, body, html и так далее */

:root {
  --content-width: 1160px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
dd,
dl {
  margin: 0;
  padding: 0;
}

picture,
source {
  display: contents;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

iframe {
  width: 100%;
  height: 100%;
}
