@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}


@mixin vp-767 {
  @media (min-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-1300 {
  @media (min-width: ($vp-1300 - 1px)) {
    @content;
  }
}
