/* colors */
$primary-black: #000000;
$primary-white: #ffffff;
$basic-green:#68b738;
$basic-green-hover:#5eaa2f;
$basic-grey:#f2f2f2;
$basic-grey-light:#eaeaea;
$basic-grey-brown:#d9d9d9;
$special-grey-light:#ebebeb;
$special-grey:#cdcdcd;
$special-grey-hover:#ebebeb;
$special-grey-brown:#666666;
$special-dark:#444444;
$special-dark-brown:#222222;
$special-dark-hover:#3e3e3e;
$special-dark-active:#6b6b6b;

$status-error:#ff8282;
$gradient-hero:#62a53a;

/* font-family */
$primary-font: "Oswald", "Arial";
$secondary-font: "Lato" ,"Arial";
$fallback-font: sans-serif;

/* viewports width */
$vp-768:768px;
