/* colors */
$primary-black: #000000;
$primary-white: #ffffff;
$basic-green:#68b738;
$basic-grey:#f2f2f2;
$special-grey-light:#ebebeb;
$special-grey:#cdcdcd;
$special-grey-brown:#666666;
$special-dark:#444444;
$special-dark-brown:#222222;
$status-error:#ff8282;

/* font-family */
$primary-font: "Oswald";
$secondary-font: "Lato";
$fallback-font: sans-serif;
