/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS common */
@import "./blocks/container.scss";
@import "./blocks/button.scss";

/* index.html */
@import "./blocks/page.scss";
@import "./blocks/page-navigation.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/nutrition-programs.scss";
@import "./blocks/programs-card.scss";
@import "./blocks/explanation.scss";
@import "./blocks/showcase.scss";
@import "./blocks/comparison.scss";

/* catalog.html */
@import "./blocks/catalog.scss";
@import "./blocks/product-catalog.scss";
@import "./blocks/products-card.scss";
@import "./blocks/attributes.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/sales.scss";
@import "./blocks/newsletter.scss";

/* both pages */
@import "./blocks/page-header.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
