

.additional-products {
  font-weight: 400;
  overflow: hidden;
}

.additional-products__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 27px;

  @include vp-767 {
    padding-top: unset;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1300 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additional-products__wrapper {
  @include vp-1300 {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional-products__title {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 1em;
  padding-bottom: 36px;


  width: fit-content;

  @include vp-767 {
    font-size: 32px;
    line-height: 1;
    border-bottom: none;
    padding-bottom: 80px;
    margin-left: 40px;
  }

  @include vp-1300 {
    margin-left: 0;
    font-size: 40px;
    padding-bottom: 77px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    left: calc(100% + 40px);
    top: 11px;

    @include vp-767 {
      top: 15px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    right: calc(100% + 40px);
    top: 15px;
  }
}

.additional-products__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 31px;
  overflow: hidden;
  border-top: 1px solid $special-grey;
  padding-top: 13px;

  @include vp-767 {
    border: 1px solid $special-grey;
    gap: 0;
    margin-bottom: 68px;
    grid-column: 1;
    padding-top: 0;
  }

  @include vp-1300 {
    border: none;
  }
}

.additional-products__gift {
  padding-top: 58px;
  height: 290px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../images/gift/gift-background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gradient-hero;

  @include vp-767 {
    background-position: center 60%;
    grid-column: 2;
    flex-direction: row;
    justify-content: flex-start;

    align-items: center;
    height: 200px;
    padding: 70px 77px;
  }

  @include vp-1300 {
    flex-direction: column;
    height: 288px;
    padding: 55px 83px 43px;
    gap: 51px;
  }

  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../../icons/gift.svg");
    margin-bottom: 48px;

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

.additional-products__gift-title {
  font-family: $secondary-font, $fallback-font;
  color: $primary-white;
  order: 2;
  text-align: center;
  font-size: 16px;
  line-height: 1.25em;
  width: 160px;

  @include vp-767 {
    font-size: 16px;
    width: 160px;
    margin-left: 265px;
    text-align: start;
  }


  @include vp-1300 {
    margin-left: unset;
    text-align: center;
  }
}
