

.additional-products {
  font-weight: 400;
}

.additional-products__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1300px;

  @include vp-767 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1300 {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.additional-products__wrapper {
  @include vp-1300 {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.additional-products__title {
  position: relative;
  display: flex;
  font-size: 24px;
  line-height: 1em;
  padding-bottom: 36px;
  border-bottom: 1px solid $special-grey;
  margin-bottom: 13px;
  gap: 30px;
  width: 100vw;

  @include vp-767 {
    font-size: 32px;
    line-height: 1;
    border-bottom: none;
    padding-bottom: 80px;
  }

  &::before {
    content: "";
    display: block;
    height: 2px;
    background-color: $basic-green;
    flex-shrink: 0;
    margin-top: 20px;
    width: calc(50% - var(--content-width, 1160px) / 2 - 30px);
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $basic-green;
    flex-grow: 1;
    margin-top: 20px;
    min-width: calc(50% - var(--content-width, 1160px) / 2 - 30px);
  }
}

.additional-products__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 35px;
  overflow: hidden;

  @include vp-767 {
    border: 1px solid $special-grey;
    gap: 0;
    margin-bottom: 80px;
    grid-column: 1;
  }

  @include vp-1300 {
    border: none;
  }
}

.additional-products__gift {
  padding-top: 58px;
  height: 290px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../images/gift/gift-background-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-767 {
    background-position: center 60%;
    grid-column: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 70px 77px;
  }

  @include vp-1300 {
    flex-direction: column;
    height: 288px;
    padding: 55px 83px 43px;
  }

  &::after {
    content: "";
    width: 80px;
    height: 80px;
    background-image: url("../../icons/gift.svg");
    margin-bottom: 48px;

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

.additional-products__gift-title {
  font-family: $secondary-font, $fallback-font;
  color: $primary-white;
  order: 2;
  width: 200px;
  text-align: center;
  font-size: 20px;
  line-height: 1.25em;

  @include vp-767 {
    font-size: 16px;
    width: 160px;
  }
}
