.attributes {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  margin-top: 13px;

  @include vp-767 {
    margin-top: unset;
  }
}

.attributes__wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    margin-bottom: 10px;
    padding-bottom: 4px;
    border-bottom: 1px solid $special-grey;
  }
}

.attributes__term {
  font-family: $secondary-font, $fallback-font;
  font-size: 12px;
  line-height: 1.33em;
  color: $special-dark;

  @include vp-767 {
    font-size: 16px;
    line-height: 1.25em;
  }
}

.attributes__desc {
  font-family: $secondary-font, $fallback-font;
  font-size: 12px;
  line-height: 1.33em;
  color: $special-dark;

  @include vp-767 {
    font-size: 16px;
    line-height: 1.25em;
  }
}
