.attributes {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.attributes__wrapper {
  display: flex;
  justify-content: space-between;
}

.attributes__term {
  font-family: $secondary-font, $fallback-font;
  font-size: 12px;
  line-height: 1.33em;
  color: $special-dark;
}

.attributes__desc {
  font-family: $secondary-font, $fallback-font;
  font-size: 12px;
  line-height: 1.33em;
  color: $special-dark;
}
