.button {
  font-family: $primary-font, $fallback-font;
  font-weight: 400;
  line-height: 1.25em;
  font-size: 16px;
  color: $primary-white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 10px 15px;
  background-color: $basic-green;
  text-align: center;
  border: none;

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    color: #8ec36d;
  }
}

.button--secondary {
  background-color: $basic-grey;
  color: $special-dark;

  &:hover {
    background-color: $special-grey-hover;
  }
}

.button--submit {
  padding-top: 15px;
  padding-bottom: 15px;

  @include vp-767 {
    font-size: 20px;
    line-height: 1.3;
  }
}
