.comparison {
  --curtain-place: 0.5;
  position: relative;
  aspect-ratio: 280/256;
  width: min(100%, 560px);
  display: grid;
  grid-template-columns: calc(var(--curtain-place) * 100%)  calc((1 - var(--curtain-place)) * 100%);

  @include vp-1300 {
    left: 25px;
  }
}

.comparison__after-image {
  object-position: right;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.comparison__before-image {
  object-position: left;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.comparison__divider {
  position: absolute;
  height: 100%;
  width: 4px;
  border-radius: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  color: $special-grey-brown;
  background-color: $special-grey-brown;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/divider-thumb.svg");
    mask-repeat: no-repeat;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: $primary-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $basic-green;
    color: $basic-green;
  }
}
