.contacts {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;

  @include vp-767 {
    padding: 60px 70px;
    width: 100%;
  }

  @include vp-1300 {
    width: 565px;
    background-color: $primary-white;
    justify-content: flex-start;
    padding: 60px 78px;
  }
}


.contacts--grey {
  background-color: $basic-grey;
}

.contacts__title {
  line-height: 1.25em;
  text-transform: uppercase;

  @include vp-767 {
    width: 165px;
    font-size: 20px;
    line-height: 1.3em;
  }

  @include vp-1300 {
    margin-right: auto;
  }
}

.contacts__text {
  font-family: $secondary-font, $fallback-font;
  color: $special-dark;
  line-height: 1.25em;


  @include vp-767 {
    width: 185px;
    font-size: 18px;
    line-height: 1.3em;
    text-align: end;
  }


  @include vp-1300 {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: flex-start;
    text-align: start;
    padding-left: 25px;
    gap: 15px;
  }
}
