.contacts {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;

  font-weight: 400;
}

.contacts--grey {
  background-color: $basic-grey;
}

.contacts__title {
  line-height: 1.25em;
  text-transform: uppercase;
}

.contacts__text {
  font-family: $secondary-font, $secondary-font;
  color: $special-dark;
  line-height: 1.25em;
}
