.copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  padding: 20px 20px 40px;
}

.copyright__text {
  font-family: $secondary-font, $fallback-font;
  line-height: 1.25em;
  color: $special-dark;
}
