.explanation {
  font-weight: 400;
}

.explanation__container {
  padding-bottom: 50px;

  @include vp-767 {
    border-bottom: 1px solid $basic-grey-brown;
  }

  @include vp-1300 {
    border: none;
    padding-top: 25px;
  }
}

.explanation__title {
  font-size: 36px;
  line-height: 1.1em;
  margin-bottom: 42px;

  @include vp-767 {
    font-size: 60px;
    line-height: 1em;
  }
}

.explanation__item-description {
  margin-left: 80px;
  font-family: $secondary-font, $fallback-font;
  color: $special-dark;

  @include vp-767 {
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0;
    align-self: self-start;
  }

  @include vp-1300 {
    line-height: 1.5;
  }
}

.explanation__list {

  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  list-style-type: none;
  max-width: 450px;
  counter-reset: explanation;

  @include vp-767 {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(230px, 250px));
    grid-template-rows: auto;
    column-gap: 150px;
  }

  @include vp-1300 {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    column-gap: 80px;
  }
}

.explanation__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  counter-increment: explanation;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @include vp-767 {
      position: relative;
      width: 80px;
      height: 80px;
      grid-column: 1 / 1;
      grid-row: 1;
    }
  }


  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    // gap: 31px 40px;


    &::after {
      content: counter(explanation);
      position: relative;
      display: block;
      grid-column: 2;
      grid-row: 1 /-1;
      font-size: 280px;
      line-height: 1em;
      justify-self: center;
      color: $basic-grey;
      z-index: -1;
    }
  }


  @include vp-1300 {
    gap: 0;

    &:not(:first-child)::after {
      left: 10px;
    }

    &::after {
      top: -5px;
    }
  }
}

.explanation__item--ingredients::before {
  background-image: url("../../icons/stack.svg#leaf");
}

.explanation__item--form::before {
  background-image: url("../../icons/stack.svg#powder");
}

.explanation__item--diet::before {
  background-image: url("../../icons/stack.svg#cutlery");
}

.explanation__item--results::before {
  background-image: url("../../icons/stack.svg#alarm-clock");
}
