.hero {
  font-weight: 400;
  color: $primary-white;

  background-image:
    image-set(url("../../images/hero/hero-mobile@1x.png") 1x, url("../../images/hero/hero-mobile@2x.png") 2x),
    linear-gradient(180deg, $gradient-hero 302px, transparent 302px);
  background-size:
    302px 302px,
    100% 100%;
  background-repeat: no-repeat;
  background-position: center top;

  @include vp-767 {
    background-image: none;
  }


  @include vp-1300 {
    background-image:
      image-set(url("../../images/hero/hero-desktop@1x.png") 1x, url("../../images/hero/hero-desktop@2x.png") 2x),
      linear-gradient(90deg, transparent 50%, $gradient-hero 50%);
    background-size: 1040px 694px, 100%, 100%;
    background-position: center right;
    background-repeat: no-repeat;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 27px;
  margin-bottom: 20px;

  @include vp-767 {
    background-image: none;
    color: $primary-black;
    position: relative;
    min-height: 800px;
    align-items: flex-start;
    padding-left: 120px;
    padding-right: 120px;


    & .button {
      width: auto;
      font-size: 26px;
      padding: 14px 26px;
    }
  }


  @include vp-1300 {
    min-height: 694px;
    padding-top: 224px;
    padding-left: 190px;
  }
}


.hero__text-wrapper {
  @include vp-767 {
    margin-bottom: 50px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 25px;

  @include vp-767 {
    font-size: 60px;
    width: 420px;
    text-align: left;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  text-align: center;
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include vp-767 {
    font-size: 20px;
    text-align: start;
    margin-bottom: 0;
  }
}

.hero__image {
  @include vp-767 {
    position: absolute;
    top: 30%;
    left: 85px;
    z-index: -1;
  }

  @include vp-1300 {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
