.nutrition-programs {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.nutrition-programs__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 450px;
  list-style-type: none;
}
