.page-footer {
  font-weight: 400;
}

.page-footer__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  padding: 0;
}

.page-footer__wrapper {
  position: relative;
  padding: 26px 20px;
  margin: 0 auto;
  max-width: 1300px;

  @include vp-767 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }

  @include vp-1300 {
    padding-left: 40px;
    padding-right: 40px;
    grid-template-rows: repeat(2, auto);
  }
}

.page-footer__contacts {
  grid-column: 1 / -1;

  @include vp-1300 {
    grid-row: 1;
    z-index: 1;
    padding-top: 69px;
  }
}

.page-footer__contacts--grey {
  @include vp-767 {
    background-color: $basic-grey;
  }

  @include vp-1300 {
    padding-left: 70px;
    padding-right: 70px;
    grid-template-rows: repeat(2, auto);
  }
}

.page-footer__media {
  grid-column: 1 / -1;
  background-color: $basic-grey;
}

.page-footer__media-wrapper {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 44px 30px;
  }

  @include vp-1300 {
    padding: 66px 40px;
    align-items: center;
  }
}

.page-footer__location {
  grid-column: 1 / -1;
  height: 362px;

  @include vp-767 {
    height: 400px;
  }

  @include vp-1300 {
    grid-column: -1 / 1;
    grid-row: 1;
    min-height: 400px;
    height: 100%;
  }
}

.page-footer__logo-text-link-wrapper {
  @include vp-767 {
    width: 165px;
  }
}

.page-footer__logo-text-link {

  padding-top: 14px;
  padding-bottom: 20px;
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $basic-grey-brown;
  background-color: $basic-grey;

  &::after {
    content: "";
    width: 128px;
    height: 24px;
    background-color: $primary-black;
    mask-image: url("../../images/logos/logo-text.svg");
    mask-repeat: no-repeat;
  }

  &:hover::after {
    background-color: $special-dark-hover;
  }

  &:active::after {
    background-color: $special-dark-active;
  }

  @include vp-767 {
    border: none;
    padding: 0;
    align-items: unset;
  }

  @include vp-1300 {
    align-items: flex-start;
  }
}

.page-footer__social {
  background-color: $basic-grey;
  grid-column: 1 / -1;
  align-items: center;
}

.page-footer__copyright {
  background-color: $basic-grey;
  grid-column: 1 / -1;


  @include vp-767 {
    width: 165px;
  }
}
