.page-navigation {
  font-weight: 400;


  @include vp-767 {
    margin-left: auto;
  }
}

.page-navigation__toggle {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;


  @include vp-767 {
    display: none;
  }
}

.page-navigation__toggle--menu-closed {
  background-image: url("../../icons/open-menu.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.page-navigation__toggle--menu-opened {
  background-image: url("../../icons/close-menu.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}


.page-navigation__list {
  list-style-type: none;
  position: absolute;
  top: 66px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  background-color: $primary-white;


  @include vp-767 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px;
    position: static;
    padding-top: 10px;
  }

  @include vp-1300 {
    flex-wrap: wrap;
    width: 480px;
    background-color: transparent;
    padding-top: 10px;
    padding-left: 2px;
    gap: 33px;
  }
}

.page-navigation__list--visible {
  display: block;
  z-index: 5;
}

.page-navigation__item {
  display: block;
  border-bottom: 1px solid $basic-grey;

  @include vp-767 {
    border-bottom: none;
  }
}

.page-navigation__item-link {
  width: 100%;
  text-align: center;
  display: block;
  padding: 22px 10px 24px;
  font-size: 20px;
  color: $primary-black;
  text-decoration: none;
  line-height: 1em;
  text-transform: uppercase;

  &:hover {
    color: $nav-link-hover-state-catalog;
  }

  &:active {
    color: $nav-link-active-state-catalog;
  }

  @include vp-767 {
    position: relative;

    font-size: 18px;
    line-height: 1.33em;
    padding: 0;
    padding-bottom: 8px;

    &[aria-current="page"]::after {
      content: "";
      position: absolute;
      line-height: 0;
      height: 2px;
      background-color: $basic-green;
      bottom: -3px;
      left: 0;
      right: 0;
    }
  }

  @include vp-1300 {
    font-size: 20px;
  }
}


.page-navigation__item-link.page-navigation__item-link--primary-white {
  &:hover {
    color: $nav-link-hover-state-index;
  }

  &:active {
    color: $nav-link-active-state-index;
  }

  @include vp-1300 {
    color: $primary-white;
  }

  &::after {
    @include vp-1300 {
      background-color: $primary-white;
    }
  }
}
