.page-header {
  font-weight: 400;


  @include vp-1300 {
    position: absolute;

    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }

  & .page-header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 14px;
    border-bottom: 1px solid $basic-grey-brown;

    @include vp-767 {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 65px;
      padding-top: 25px;
    }

    @include vp-1300 {
      padding: 0;
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 55px;
      margin: 0 auto;
    }
  }
}

.page-header__logo-image-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-767 {
    margin-right: 13px;
  }
}

.page-header__logo-text {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include vp-767 {
    margin-right: 95px;
  }
}


.page-header__wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1300px;

  @include vp-767 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1300 {
    padding-left: 70px;
    padding-right: 70px;
  }
}
