.products-card {
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 400;
  position: relative;

  @include vp-767 {

    padding: 0;
    padding-top: 65px;
  }

  @include vp-1300 {
    min-height: 511px;
  }

  &:nth-child(even) .products-card__title {
    @include vp-1300 {
      margin-top: 40px;
    }
  }

  &:nth-child(odd) .products-card__title {
    @include vp-1300 {
      margin-top: 50px;
    }
  }
}

.products-card__title {
  line-height: 1.25em;
  color: $special-dark-brown;
  text-transform: uppercase;
  grid-column: 2;

  @include vp-767 {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.12em;
  }

  @include vp-1300 {
    margin-top: 26px;
  }
}

.products-card-text {
  font-family: $secondary-font, $fallback-font;
  color: $special-dark;
}

.products-card__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  @include vp-767 {
    background-color: $basic-grey;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 0 37px 40px;
  }
}

.products-card__image-wrapper {
  grid-column: 1;
  grid-row: 1 / 3;
  place-self: center center;

  @include vp-767 {
    grid-row: 1;
    margin-top: -65px;
  }
}

.products-card__attributes {
  grid-column: 2;
  grid-row: 2;

  @include vp-767 {
    grid-column: 1;
    grid-row: 3;
  }
}

.products-card__button {
  margin-top: 20px;
  grid-column: 1 / -1;
  grid-row: 3;

  @include vp-767 {
    grid-row: 4;
  }
}

.products-card--empty {
  & .products-card__container {
    padding-top: 23px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $basic-grey-brown;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    top: 45px;
    left: 50%;
    transform: translateY(-50%);
    background-color: $basic-grey-brown;
  }

  .products-card__title {
    margin-top: 40px;
    place-self: center center;
    grid-column: 1 / -1;
    margin-bottom: 8px;
  }

  .products-card-text {
    place-self: start center;
    grid-column: 1 / -1;
    position: relative;
    top: -10px;
  }

  @include vp-767 {
    &::after {
      width: 60px;
      height: 2px;
      top: 145px;
    }

    &::before {
      height: 60px;
      width: 2px;
      top: 145px;
    }

    & .products-card__container {
      height: calc(100%);
      padding-top: 115px;
      border: 2px solid $basic-grey;
    }

    & .products-card__wrapper {
      height: 100%;
      grid-template-rows: repeat(3, auto);
      background-color: transparent;
    }

    & .products-card__title {
      margin: 0;
      grid-row: 1;
      width: 180px;
      align-self: flex-start;
    }

    & .products-card-text {

      width: 180px;
      text-align: center;
    }

    & .products-card__button {
      grid-row: 3;
      align-self: end;
    }
  }

  @include vp-1300 {
    & .products-card__button {
      position: relative;
      bottom: 10px;
      width: 170px;
      padding: 10px 39px;
    }
  }
}
