.product-catalog {
  font-weight: 400;
  padding-top: 27px;

  @include vp-767 {
    margin-bottom: 68px;
  }


  @include vp-1300 {
    padding-top: 75px;
    margin-bottom: 59px;
  }
}

.product-catalog__container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1300px;

  @include vp-767 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1300 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.product-catalog__title {
  position: relative;
  padding-bottom: 41px;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: $basic-grey-brown;
  }

  @include vp-767 {
    font-size: 60px;
    line-height: 1em;
    padding-bottom: 90px;

    &::before {
      display: none;
    }
  }

  @include vp-1300 {
    padding-bottom: 98px;
  }
}


.product-catalog__products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  list-style-type: none;
  gap: 4px;

  @include vp-767 {
    gap: 68px 60px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 324px));

    & li:not(.products-card--empty)::after {
      display: none;
    }
  }

  @include vp-1300 {
    grid-template-columns: repeat(auto-fill, minmax(230px, 245px));
    gap: 63px 80px;
  }
}

.product-catalog-item {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: $special-grey-light;
  }
}
