.product-catalog {
  margin-top: 27px;
  font-weight: 400;

  @include vp-767 {
    margin-bottom: 74px;
  }
}

.product-catalog__title {
  position: relative;
  padding-bottom: 41px;
  font-size: 36px;
  line-height: 1em;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: $basic-grey-brown;
  }

  @include vp-767 {
    font-size: 60px;
    line-height: 1em;
    padding-bottom: 150px;

    &::before {
      display: none;
    }
  }
}


.product-catalog__products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  list-style-type: none;

  @include vp-767 {
    gap: 125px 60px;

    & li:not(.products-card--empty)::after {
      display: none;
    }
  }
}

.catalog__products-item {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: $special-grey-light;
  }
}
