.social {
  padding-top: 20px;
  padding-bottom: 20px;

  font-weight: 400;
  border-bottom: 1px solid $basic-grey-brown;
}

.social__list {
  list-style-type: none;
  gap: 24px;
  display: flex;
  justify-content: center;
}
